@import "tailwindcss";

:root {
  --background: #0d0221;
  --foreground: #f3e8ff;

  --brand-accent: #4df3ff;
  --brand-secondary: #a855f7;
  --brand-tertiary: #fbbf24;
  --brand-pink: #e879f9;
  --brand-error: #f87171;

  --brand-card: #150a2e;
  --brand-muted: #a599c2;
  --brand-border: #2a1345;
  --grid-color: #4df3ff2c;

  --cell-text: #8ff5ff;
  --cell-select: #7ed6f0;
  --cell-highlight: #f6b3f6;
  --cell-error-highlight: #82090981;
}

.light {
  --background: #fdf7ff;
  --foreground: #1e1033;

  --brand-accent: #057b8d;
  --brand-secondary: #7c3aed;
  --brand-tertiary: #b45309;
  --brand-pink: #c026d3;
  --brand-error: #dc2626;

  --brand-card: #ffffff;
  --brand-muted: #6b6280;
  --brand-border: #e7d9f5;
  --grid-color: #07e8f425;

  --cell-text: #0e7490;
  --cell-select: #0891b2;
  --cell-highlight: #d946ef;
  --cell-error-highlight: #f5494933;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-accent: var(--brand-accent);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-tertiary: var(--brand-tertiary);
  --color-brand-pink: var(--brand-pink);
  --color-brand-error: var(--brand-error);

  --color-brand-card: var(--brand-card);
  --color-brand-muted: var(--brand-muted);
  --color-brand-border: var(--brand-border);
  --color-grid-color: var(--grid-color);

  --color-cell-text: var(--cell-text);
  --color-cell-select: var(--cell-select);
  --color-cell-highlight: var(--cell-highlight);
  --color-cell-error-highlight: var(--cell-error-highlight);

  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  box-sizing: border-box;
}
button,
a {
  -webkit-tap-highlight-color: transparent;
}

@keyframes fallIn {
  0% {
    transform: translateY(-38px) scale(0.9);
    opacity: 0;
  }
  70% {
    transform: translateY(5px) scale(1.03);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-fall-in {
  animation: fallIn 0.5s ease-out;
}
